/*$upper-margin: 12.5vh;*/
$upper-margin: 0vh;

#activitiesContainer{
    width: 100%;
    margin-top: 3.125vh;
    overflow: hidden;
    & p{
        margin: 0%;
    }
    & #caption{
        width: 86.67%;
        text-align: left;
        font: {
            family: Merriweather, serif;
            style: normal;
            weight: bold;
            size: 14px;
        }
        line-height: 16px;
        letter-spacing: 0.25px;
        color: #404040;
    }
    & #cardsContainer{
        display: flex;
        /*width: 100%;*/
        margin-top: 1.25vh;
        overflow: auto;
        scroll-snap-type: x mandatory;
        & .cardActivity{
            display: flex;
            flex-shrink: 0;
            scroll-snap-align: start;
            scroll-snap-stop: normal;
            width: 90%;
            height: 27vh;
            background-color:#FCFCFC;
            border-radius: 12px;
            margin-right: 2%;
            & .image{
                width: 40%;
                height: 27vh;
                & img{
                    width: 100%;
                    height: 27vh;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
            & .dataContainer{
                /*display: flex;
                flex-wrap: wrap;*/
                width: 60%;
                height: 27vh;
                & .name{
                    width: 100%;
                    height: 2.16vh;
                    padding-left: 5%;
                    margin-top: 2vh;
                    font: {
                        family: Raleway, sans-serif;
                        style: normal;
                        weight: 600;
                        size: 12px;
                    }
                    line-height: 14px;
                    color: #333333;
                }
                & .description{
                    width: 100%;
                    padding-left: 5%;
                    margin-top: 1.25vh;
                    font: {
                        family: Raleway, sans-serif;
                        style: normal;
                        weight: normal;
                        size: 11px;
                    }
                    line-height: 13px;
                    color: #333333;
                }
                & .addressContainer{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 1.23vh;
                    font: {
                        family: Raleway, sans-serif;
                        style: normal;
                        weight: 600;
                        size: 12px;
                    }
                    /*line-height: .1em;*/
                    color: #404040;
                    & .iconLocationContainer{
                        align-self: center;
                    }
                    & .direction{
                        width: 86.67%;
                        margin-top: .75vh;
                    }
                    & .location{
                        width: 86.67%;
                        height: 2.16vh;
                        margin-top: .25vh;
                        padding-left: 2.7vh;
                    }
                }
            }
        }
    }
}