@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*$upper-margin: 12.5vh;*/
$upper-margin: 0vh;

#smallCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    /*height: 64.375vh;*/
    margin-bottom: .78vh;
    background-color: #FAFAFA;
    border-radius: 1.875vh;
    -webkit-box-shadow: 5px 5px 11px -11px #000000; 
    box-shadow: 5px 5px 11px -11px #000000;
    & p{
        margin: 0%;
    }
    & #imageContainer{
        width: 100%;
        height: 28.125vh;
        & img{
            width: 100%;
            height: 28.125vh;
            border-radius: 1.875vh 1.875vh 0px 0px;
        }
    }
    & #name{
        width: 100%;
        margin-top: 1.562vh;
        margin-left: 5%;
        font: {
            family: Raleway, sans-serif;
            style: normal;
            weight: 800;
            size: 18px;
        }
        line-height: 21px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: rgba(0, 0, 0, 0.87);
        mix-blend-mode: normal;
    }
    & #addressContainer{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 3.75vh;
        & #iconLocationContainer{
            align-self: center;
        }
        & #address{
            width: 83.64%;
            align-self: center;
            padding: .78vh 0px 0px .78vh;
            font: {
                family: Raleway, sans-serif;
                style: normal;
                weight: 600;
                size: 11px;
            }
            line-height: 20px;
            align-items: center;
            letter-spacing: 0.25px;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    & #info{
        width: 90%;
        height: 10vh;
        margin-top: .62vh;
        overflow: hidden;
        background-image: linear-gradient(to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0) 65%,
        rgba(255,255,255,0.1) 100%);
        font: {
            family: Raleway;
            style: normal;
            weight: normal;
            size: 12px;
        }
        line-height: 16px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.6);
        mix-blend-mode: color-burn;
    }
    & #certificates{
        width: 90%;
        margin-top: 1.85vh;
        font: {
            family: Raleway, sans-serif;
            style: normal;
            weight: 500;
            size: 13px;
        }
        line-height: 24px;
        align-items: center;
        letter-spacing: 0.15px;
        color: rgba(0, 0, 0, 0.87);
        mix-blend-mode: normal;
    }
    & #labelsContainer{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-top: .94vh;
    }
    & #mas{
        margin: 1.5vh 0px 3.43vh 70%;
        cursor: pointer;
        font: {
            family: Raleway, sans-serif;
            style: normal;
            weight: bold;
            size: 14px;
        }
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #2C5337;
    }
    &:last-child{
        margin-bottom: 9vh;
    }
}