/*$upper-margin: 12.5vh;*/
$upper-margin: 0vh;

#xxContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: calc(100vh - #{$upper-margin});
    margin-top: #{$upper-margin};
}